# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-markdown-redux'
      'command': 'atom-markdown-redux:toggle'
    },
    {
      'label': 'atom-markdown-redux create TOC'
      'command': 'atom-markdown-redux:toc'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-markdown-redux'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-markdown-redux:toggle'
        },
        {
          'label': 'TOC'
          'command': 'atom-markdown-redux:toc'
        }
      ]
    ]
  }
]
